[2017-01-25 23:08] OndrejHome opened #1 "pcs_resource: handling of clones/grouped resource"
CURRENT STATE:
pcs_resource module can create resource in group or cloned resource but it fails to detect it and so on next run it fails creating it.

TODO:
- add support for cloned/grouped resources
- cloned resources cannot be part of resource group

[2017-06-08 03:56] OndrejHome opened #2 "advanced pcs_constraint modules"
Idea:
- separate the 'order', 'location' and 'colocation' constraints into separate modules like pcs_constraint_order, pcs_constraint_location, pcs_constraint_colocation
- provide advanced features to new modules
  - colocation: ability to colocate with master/slave resources
  - order: ability to specify the
    - action start/promote/demote/stop,
    - kind Optional/Mandatory/Serialize
    - sym

[2017-07-21 21:26] OndrejHome commented on #2
implemented as of tag v11with deprecation warning in old module

[2017-07-21 21:26] #2 closed

[2018-01-24 12:50] moserhans opened #4 "Adding a node"
I can create a cluster with your helpful role, thank you.
Nevertheless if a add a new host to the role/to the cluster, this fails.
The corosync.conf is not changed and not copied to the new node.

I think the role does not handle the adding of a new node, is that right?

[2018-01-24 12:56] moserhans opened #5 "Changing a resource"
I created a simple test cluster.
A add a resource:

[code]
Works fine.
I change the resource - like the interval:
[code]
The playbook now fails:

`failed: [cluster2.example.com] => {"failed": true, "parsed": false}
Traceback (most recent call last):
  File "/root/.ansible/tmp/ansible-tmp-1516797934.68-219244836886194/pcs_resource", line 1860, in <module>
    main()
  File "/root/.ansible/tmp/ansib

[2018-01-24 12:58] OndrejHome commented on #4
Hi @moserhans. That is correct. modules are not handling adding nor removing the nodes. I would have to check if making this would be easy to do. I'm unsure about the possibility for removing. Would you interested in contributing the change for adding the node to modules or at least test it in case this is added to modules here?

[2018-01-24 13:06] OndrejHome commented on #5
Hi @moserhans. This looks interesting. On first look this may be an issue with code that compares the resources. This is different from code that just creates the resource. 1. Would you be able to confirm if the following would succeed in your systems?
- create resource with monitor 30
- delete the resource
- create resource with monitor 22230

2. Does the same error appear when you use the '--che

[2018-01-25 09:31] moserhans commented on #5
Playbook:
[code]

Playbook run:
[code]

The result is:
`[root@cluster2 ~]# pcs resource show ClusterIP
 Resource: ClusterIP (class=ocf provider=heartbeat type=IPaddr2)
  Attributes: ip=172.30.8.199
  Operations: monitor interval=130 (ClusterIP-monitor-interval-130)
              start interval=0s timeout=20s (ClusterIP-start-interval-0s)
              stop interval=0s timeout=20s (ClusterIP-stop-i

[2018-01-25 09:35] moserhans commented on #5
I think there is no difference in check mode:
[code]

[2018-01-25 09:36] moserhans commented on #4
Thank you.
I will see what I can do to help.

[2018-01-25 11:24] OndrejHome commented on #5
thank you for testing. I was expecting the add-delete-add to work just wanted to confirm that values are not a problem. --check seems to fail in same place as normal execution. I will have work on this.

[2018-01-28 02:40] OndrejHome commented on #5
Hi @moserhans,
I was able to reproduce this with ansible-1.9.2 on Centos 7.4. Seems that function 'to_native' was introduced in ansible-2.2 and I was not checking if it is available. I'm using the function to make the 'diff' formatting pretty. In ansible-1.9.2 there is not '--diff' option so this should be needed there at all. If you try newer version of ansible you can try the '--check --diff' on

[2018-01-28 02:57] OndrejHome commented on #4
Having a look at how the code of this looks it may not be so simple to "just add node". Currently code only tries the 'pcs cluster setup' when cluster configuration files are not detected. This is very basic stuff that will not be correct in some scenarios. Also the 'pcs_cluster' module expects that it will run only on one node and add the other nodes.

I would have to think if there is way how to

[2018-02-13 22:32] jszigetvari opened #7 "more advanced configurations options"
Dear Ondrej,

I'm doing a pet project the goal of which would be to create a more or less rudimentary Ansible setup script for a syslog-ng HA cluster with DRBD, on top of CentOS 7.
In search for Ansible pcs cluster modules, yours seemed to be the prime choice.

I'm following a cluster setup guide of a friend, and creating the tasks of the playbook along those steps.
I'm more like a beginner in pac

[2018-02-14 11:39] OndrejHome commented on #7
Hi Janos ( @jszigetvari ),

For creating a basic pacemaker cluster I have a role named 'OndrejHome.ha-cluster-pacemaker' that installs the needed packages, setups cluster, starts it and can configure fencing device.
Instead of doing the `pcs cluster start --all` I use the following task in ansible that has same effect.
https://github.com/OndrejHome/ansible.ha-cluster-pacemaker/blob/master/tasks/ma

[2018-02-14 12:14] OndrejHome commented on #5
Hi @moserhans,
Could you please let me know if the changes in 'develop' branch resolved the problem also on your system?
If I don't here from you within 2 weeks I will close this issue and the change will be merged to 'master' later if there are no conflicts.

[2018-02-14 20:17] frank3427 commented on #7
I am also interested in;
pcs resource defaults resource-stickiness=100

[2018-02-15 18:09] jszigetvari commented on #7
Dear Ondrej,

Thank you for your answers.
I have made the necessary modifications to my playbook, the next step will be to test it.

I have one question though. If we look at one of the original commands I asked:

`$ pcs resource master ResourceAClone ResourceA master-max=1 master-node-max=1 clone-max=2 clone-node-max=1 notify=true`

Your suggestion follows:

`- pcs_resource: name="ResourceAClone"

[2018-02-16 12:22] OndrejHome commented on #7
Hi Janos,

Let me try to show this through examples - I will use the `ocf:pacemaker:Dummy` as example type of resource.

Your approach has basically 2 steps:
[code]

With `pcs_resource` module here I'm proposing a single step that will get us to "same" result (except of the name of the final Master/Slave resource which will have suffix `-master`).
[code]
This second approach with only one command

[2018-02-16 12:37] OndrejHome commented on #7
Update regarding the use of `--master`: the warning is ignored correctly, but there is slight difference in syntax, so based on your version of pcs one of both of below should work same way:
[code]

[2018-02-16 16:09] jszigetvari commented on #7
Dear Ondrej,

Thank you so far for trying to help me.
My problem at the moment seems to be that ResourceA is really a DRBD device, and when creating it, op is set to monitor, like this:

`pcs -f drbd_cfg resource create DRBDSharedStorage ocf:linbit:drbd drbd_resource=shareddata op monitor interval=60s`

`pcs -f drbd_cfg resource master DRBDSharedStorageClone DRBDSharedStorage master-
max=1 master-

[2018-02-17 03:45] OndrejHome commented on #7
Hi Janos,

You can create Master/Slave resource with changes to various operations in single command, please see the example below on the Dyummy resource.

[code]

Additionally you can also add the 'resource-stickiness' also in single command using one of the commands below.
[code]

I'm curios what went wrong with `ocf:heartbeat:IPaddr2`, `ocf:heartbeat:syslog-ng` and `ocf:heartbeat:Filesystem`. P

[2018-02-17 05:07] OndrejHome commented on #7
@jszigetvari, @frank3427,
In the 'develop' branch I have pushed the new module called `pcs_resource_defaults` that can manipulate resource defaults and resource operation defaults. Please let me know if you have any feedback to this new module. If there are no big issues it will be included in next version of pcs-modules-2.

[2018-02-18 19:16] jszigetvari commented on #7
@OndrejHome
Thank you!
I downloaded the new branch, and the `pcs_resource_defaults` module did seem to work okay for me, although I did not do any far-fetched testing. I just verified that the default stickiness was set up successfully by the module.

[2018-02-19 13:51] OndrejHome commented on #5
This is now part of 'master' branch and version 'v12' of 'OndrejHome.pcs-modules-2'. I will now close this Issue as I haven't heard from you for some time and I was able to test this in my testing environment to fix the problem. Feel free to re-open this issue if this still doesn't work in your environment.

[2018-02-19 13:51] #5 closed

[2018-02-19 13:57] OndrejHome commented on #7
Hi Janos (@jszigetvari )
I have merged the changes into 'master' branch so you can now use the new version of 'OndrejHome.pcs-modules-2' ('v12') directly from ansible galaxy.

I will keep this Issue open to wait for your feedback. Please let me know if you encounter any other issues or if the issue can be closed.

[2018-02-27 08:05] jszigetvari commented on #7
Hi Ondrej,

all-in-all things look good for me.
At the moment, I don't have any further questions.
Thank you for your help!

[2018-02-27 08:05] #7 closed

[2018-03-19 16:17] moserhans commented on #4
Thank you.
I incountered the "add node" problem in my test phase, when I addes more, "fresh" nodes to have a clean base. For what we have in mind to use your very usefull module, this is not essential.

[2018-03-19 16:22] moserhans commented on #5
Sorry for the delay! :(

The check run ist fine now. Thank you for fixing this!

[2018-03-20 05:11] OndrejHome commented on #5
Thank you @moserhans for reporting and confirming that it works for you!

[2018-03-20 05:16] OndrejHome commented on #4
Thank you for feedback on use case. I will keep this Issue open as it  looms interesting to me, but I'm not sure when I will have time to have into this. If this would be possible I would like to be able to use this together with my other role OndrejHome.ha-cluster-pacemaker to add another node to cluster - that role covers installation and enablement of cluster which makes it ideal candidate for

[2018-04-03 11:10] misacek007 opened #8 "RFE: possibility to create resources on top of a file"
All resources/constraints would be created on top of a file (`pcs -f <file>`) which would be in the end pushed to the cluster (or not to do this manually).

[2018-04-03 11:14] misacek007 opened #9 "add `--config` to the `pcs cluster cib-push <file>` command"
`--config` should be added to all `pcs cluster cib-push <file>` commands.

From `pcs` man page:
[code]
This avoids problems with cib versioning and is what you want in most of the cases.

[2018-04-03 16:18] OndrejHome commented on #8
Hi @misacek007,
Thank you for suggestion.

Use of alternative file for cluster configuration (CIB) would make sense to all modules except following:
- `pcs_auth` - this doesn't touch cluster CIB in any way
- `pcs_cluster` - this seems to change more than just CIB when used

For the other modules this looks possible on first look. Testing just randomly it looks that sometimes there would be good if

[2018-04-03 16:31] OndrejHome commented on #9
Hi @misacek007 ,

Thank you for idea.
The `pcs cluster cib-push` is used only in the `pcs_resource` module where it does the 'update of the resource'. For the scope that should be used I would more expect the scope 'resources' to which this is applicable. Also looking at when this was added to `pcs` (around 0.9.132 - https://github.com/ClusterLabs/pcs/commit/4a13e8dad6b58c257151dfdf297d8529373d05a

[2018-04-06 09:30] manzarek123 opened #10 "Resources changing and failling"
Sometimes Ansible is trying to make changes to resources when no changes were made to the ansible role/playbook or manually on the cluster.

The first resource will successfully be changed (even if tho there are no changes) but the next ones will fail.
So if I have 10 resources configured I'll have to run 10X Ansible:
On first run it will change the 1st and fail on the 2nd
On second run ti will ch

[2018-04-06 11:00] OndrejHome commented on #10
Hi @manzarek123, Thank you for reporting issue. Are you running the playbook with this behaviour on one node or on multiple nodes of same cluster? Would it be possible to share the playbook and inventory file that you use when this happens?( you can use the Dummy resource if you cannot share original). Can you try running playbook with `--check --diff` and provide the output that will show the cha

[2018-04-08 16:40] OndrejHome commented on #9
Checking this further
In RHEL context using the `scope` with `pcs cluster cib-push` would mean to use pcs from RHEL 6.7+ and RHEL 7.1+ which seems as quite some time.

However I'm not sure if I want to avoid the problem with versioning. From my testing it seems that when I use the `scope=resources` then it will happily overwrite in any case, no version checking and I can even update anything from

[2018-04-08 16:56] OndrejHome commented on #10
To expand on my initial reply here:
I see 2 issues here:
- issue A: changes to resources that seems to be same
- issue B: error when trying to make a change

Having a playbook and inventory file that can reproduce this would be needed. If this is the case where the same change is run from multiple nodes, then `run_once: true` or delegation should be used.

I can reproduce the issue B when I change

[2018-04-09 06:51] misacek007 commented on #8
Just to summarize that I got it right for transactional approad: you would specify for example `file: /tmp/cluster.cib` in several resources/constraints and do `cib-push` after using `command` module. Right?

The rest sounds good to me.

[2018-04-09 07:15] misacek007 commented on #9
We struggled a lot with the problem of adding resources in the scripts and initially we used the same way I believe you do: get cib, change it, epoch + 1, push it. This generally works.

What happens is that cluster might stop/start/move some resources after you `pcs cluster get-cib` which will cause epoch to increase and your push to fail. This might seem like a good thing but generally it just m

[2018-04-12 20:09] OndrejHome commented on #9
Thank you for the additional info to this. My concern is improper use here, but as you mention the purpose of `scope` is to avoid problems when you know what you are doing.

The reason for using the `pcs cluster cib-push` in `pcs_resource` module was that this was the easiest way how to handle change of existing resource without deleting it or without constructing `pcs resource update` command. Ac

[2018-04-12 20:27] OndrejHome commented on #8
yes, exactly as you write. I will try to get this over upcoming weekend so you can test it out.

[2018-04-15 10:40] OndrejHome commented on #8
Hi @misacek007, in the `develop` branch of repo you will find the updated version of modules to use new attribute `cib_file` that can be used to make changes to file (`pcs -f cib_file`) instead of live cluster configuration. All changed modules except `pcs_property` and `pcs resource_defaults` makes a basic check if the provided `cib_file` is a parseable XML and leaves rest of checks in `pcs` late

[2018-04-15 10:47] OndrejHome commented on #9
Hi @misacek007 , I have added option for using the `scope=resources` as attribute named `force_resource_update` to `pcs_resource`. So far this is part of `master` but yet without tag. Please let me know if this works better in your use case. Testing this in my environment this "workaround" also the case where someone might run module on multiple nodes in cluster at same time (which is useless) wit

[2018-04-15 10:51] OndrejHome commented on #10
Hi @manzarek123 , I have recently implemented a change based on Issue #9 that might improve both behaviour of `pcs_resource` module and also the documentation around the usage. Would you be able to let me know if that helps in your case?

Note if there will be no response from you in next 2 weeks I will consider that this is either resolved or no more a problem and will close this issue.

[2018-04-16 08:01] manzarek123 commented on #10
Hello,
I am using runce_once: true.
I don't really know how to reproduce the issue because it only happens at random time. It never happened when creating the cluster from scratch though.

I was able to run ansible with --check --diff whith the issue.
Here are the results:
It seems that it is removing some meta_attribute id

Sorry for the late answer :)

TASK [xxx : Create pacemaker FS resource fo

[2018-04-16 21:45] OndrejHome commented on #10
Hi @manzarek123, thank you for more detailed information. I will check this further as the change that is shown there is mostly irrelevant to cluster - there is only indication that empty 'meta' attribute will be removed. I'm making a note on the one entry from pastebin you have provided here just for later reference. I will try this out on the configuration that you have provided.
One small quest

[2018-04-17 18:25] OndrejHome commented on #10
It looks that I'm able to recreate the "empty" meta attribute by adding and removing 'meta' attributes from the resource with either `pcs resource update xxx meta something=` or `pcs resource meta xxx something=`. In both cases if there was meta attribute `something` with some value it is removed, but it leaves the non-paired XML tag for meta attributes there. Interestingly when I use `pcs resourc

[2018-04-18 08:15] manzarek123 commented on #10
I have a repro:
1. Create 2 resources with Ansible, I used LVM and Filesystem.
2. Disable both resources: (this step will generate the meta_attributes)
pcs resource disable myfs
pcs resource disable myvg
3. Enable both resources
pcs resource enable myfs
pcs resource enable myvg
4. Run ansible again, it will remove the meta attribute on the first resource and fail on the second resource.

pcs versi

[2018-04-20 06:02] OndrejHome commented on #10
Hi @manzarek123 , I have commit into develop change that should address the empty meta attribute - if code detects that there is empty meta attribute coming from live cluster, it will remove it to have clean comparison. For the error that you mention I'm unable to reproduce that even with your procedure. However you may try to set `force_resource_update=true` for `pcs_resource` module in case you

[2018-04-23 20:01] OndrejHome commented on #8
Changes are now merged in `master` and available with tag `v13` including on Ansible galaxy. If the problem still persist please let me know,  if not I will close this issue this week.

[2018-04-23 20:01] OndrejHome commented on #9
Changes are now merged in `master` and available with tag `v13` including on Ansible galaxy. If the problem still persist please let me know,  if not I will close this issue this week.

[2018-04-23 20:01] OndrejHome commented on #10
Changes are now merged in `master` and available with tag `v13` including on Ansible galaxy. If the problem still persist please let me know,  if not I will close this issue this week.

[2018-04-24 08:36] manzarek123 commented on #10
It seems to be working fine now :)
Thanks a lot.

Another cool feature could be an option to NOT restart a resource that has been administratively disabled.
For the moment if the resource is disabled it will remove the target-role meta attribute.
Maybe add some "state" attribute with different  value: started, stopped, present (will not restart a disbaled resource), (absent?)

That is just an idea

[2018-04-27 18:25] OndrejHome commented on #10
@manzarek123 I will close this issue for now, but if you think that my previous update doesn't answer your idea, feel free to open new issue and we can have a look at it.
Thank you for your help on identifying the issue with meta attributes here!

[2018-04-27 18:25] #10 closed

[2018-05-01 08:51] misacek007 commented on #8
I just wanted to let you know that this changes solved perfectly my needs. Thanks a lot!

[2018-05-02 19:11] OndrejHome commented on #8
Thank you for feedback that it works well!

[2018-07-20 15:21] lefan opened #12 "import sys in pcs_resource.py"
It looks like missed `import sys` in  pcs_resource.py

[2018-07-20 20:53] OndrejHome commented on #12
Hi @lefan, Than you for reporting this issue!
I have pushed the change in tag `v14`. However out of curiosity could you please let me know which version of Ansible and Python you are using? (output from `ansible --version`). On my 2 machines I have Ansible 2.5.5 and one with python 2.7.14 doesn't need this import while the other with python 3.6.5 fails with the missing sys module.

[2018-07-21 06:50] lefan commented on #12
Hi @OndrejHome .

[code]

[2018-07-21 06:55] lefan opened #13 "pcs_constraint_order id collision"
If we have playbook with such tasks then we have `id` collision (same id and one task update result of another).
[code]

[2018-07-21 08:01] OndrejHome commented on #13
Hi @lefan, interesting. Let me check this. For completeness which version of 'pcs' is used on the cluster where this is run? ('pcs --version') I will assume that you use ansible 2.4 with python 2.7 as seen in other Issue that you have opened yesterday.

[2018-07-21 19:48] lefan commented on #13
[code]

[2018-07-22 10:54] OndrejHome commented on #13
Hi @lefan,

I can reproduce this also on my setup and I have few ideas on what to do with it.
Issue seems to be in way of matching the order constraints on line 142

https://github.com/OndrejHome/ansible.pcs-modules-2/blob/7d12f5e9758e43242b2e09c338923d61276db331/library/pcs_constraint_order.py#L142-L143

This one detects first constraint with same order as trying to introduce, but ignores the act

[2018-07-22 11:06] OndrejHome commented on #13
For now in `develop` I have idea on keeping old behaviour and introducing new default that matches also on resource actions. I'm not yet decided if the old behaviour will stay and would need to be somehow documented or fixed or if it will get removed. You can test out if with new default your use case would work or if there are any additional problems.

[2018-07-22 11:37] lefan commented on #13
Hi @OndrejHome
I have tested develop branch. Now it working.
Thank you for great work!

[2018-07-22 11:43] lefan commented on #13
What do you think about other pcs_constraint_* libs?
Can they be exposed to this problem?

[2018-07-22 15:13] OndrejHome commented on #13
Thank you for testing @lefan!

The `pcs_constraint_colocation` seems to have same logic for declaring the constraint match as the `pcs_constraint_order` and I can replicate the colidsion of id's when I used something like below.

    - pcs_constraint_colocation: resource1='db-x112-master'
                             resource1_role='Master'
                             resource2='db-x112-master-vi

[2018-07-22 15:16] OndrejHome commented on #12
Thank you @lefan for feedback!
I will keep this open for a bit as I need to figure out how to test for similar stuff in future. The test I use now is ineffective for this and it would definitely deserve some proper test to catch this kind of errors.

[2018-07-23 09:24] OndrejHome opened #14 "`pcs_constraint_ticket` implementation"
Implement creating/updating/deleting constraints with ticket.
Matching criteria: same ticket_name, role, resource ID
Non-matching criteria (for update): loss-policy

Expected to be based on following 2 commands from `pcs`:

    ticket add <ticket> [<role>] <resource id> [<options>]
               [id=<constraint-id>]
        Create a ticket constraint for <resource id>.
        Available option is

[2018-07-23 10:04] OndrejHome commented on #13
Hi @lefan, Checking further I think it makes more sense to have fix as permanent functionality and not allow switch to old behaviour. I have updated this in the `devel` branch. Additionally I have also reworked the `pcs_constraint_colocation` in few ways that should now also consider the 'roles' that are passed to it for matching the constraint.  So now both `pcs_constraint_order` and `pcs_constra

[2018-07-25 08:41] lefan opened #15 "Looks like bug - `b('').join` vs `b''.join`"
Hi @OndrejHome.

I am not a python dev, but it looks like bug in this line:
https://github.com/OndrejHome/ansible.pcs-modules-2/blob/7d12f5e9758e43242b2e09c338923d61276db331/library/pcs_resource.py#L144
and L146
Maybe something like `to_native(b''.join(n...`

[2018-07-25 09:13] OndrejHome commented on #15
Hi @lefan,
Yes, it fails why I try it with all versions of python I have on computer (2.7, 3.5, 3.6). I would say that it was working before when I was adding the changes to make printing there only when we have a `to_native` function available. I could remember it worked for me at that time, but now it doesn't :)

So yes, this is something for fixing. Let me take care of it and thank you a lot fo

[2018-08-16 10:01] OndrejHome opened #16 "Implement proper testing of module code"
Goal:
- avoiding stupid mistakes like syntax errors or unsupported syntaxes that are not detected by `python -m py_compile library/*.py`

Possible options:
1. full unit testing simulating the environment with cluster - https://docs.ansible.com/ansible/latest/dev_guide/testing_units_modules.html
  - quite heave to implement all tests and will get stuck with outputs from given version of `pcs`, but

[2018-08-16 10:09] OndrejHome commented on #12
As there are multiple issues that were resolved I have moved the idea of better testing into #16 . Closing this one now as it is part of `master` branch (v14). Thank you for reporting!

[2018-08-16 10:09] #12 closed

[2018-08-16 10:11] OndrejHome commented on #13
This was merged into `master` (v15). If you think that there is still problem with this in `master` please let me know. If not feel free to close this issue or I will close it in next 1-2 weeks.
Thank you for reporting and testing!

[2018-08-16 10:15] OndrejHome commented on #15
I have merged the fix for this into `master` (v15). I have the #16 opened to track the cases where my lack of full testing resulted in problems like this and will try to address it there over time.
In case that current `master` has still same/similar issue as seen here on any of your setups please let me know. If there is no problem feel free to close this issue or I will close it in 1-2 weeks fro

[2018-08-28 11:51] #13 closed

[2018-08-28 11:51] #15 closed

[2018-09-02 12:31] OndrejHome commented on #4
So revisiting this thing after longer time as it seems that there are also some other people interested in this feature that contacted me via email.

I have started drafting a first idea on how this could possibly work in way that would make this least painful for user to do. So far initial idea is to use "action plugin" to do decision making.

Idea is that before actual 'pcs_cluster' module will

[2018-10-18 20:24] OndrejHome opened #18 "address ansible galaxy lint errors"
Address ansible galaxy lint check for modules in this role
[code]

[2018-10-29 21:03] OndrejHome commented on #4
Closing for now, feel free to leave feedback anytime or re-open if you feel that feature is incomplete. Thank you for initial input for this Issue!

[2018-10-29 21:03] #4 closed

[2018-11-09 15:27] OndrejHome opened #19 "Prepare the modules for inclusion in Ansible upstream - ansible collection"
Idea:
  Prepare modules for inclusion into Ansible upstream as group of related modules for work with pacemaker cluster.

https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_in_groups.html

This Issue is used to track what is needed for inclusion and also for sharing the information on the progress of preparation for inclusion that already several people asked me for. Once this ha

[2018-11-17 10:12] OndrejHome opened #20 "RHEL 8/Fedora 29 compatibility check"
Idea:
- check which parts of the modules works/breaks on RHEL 8 Beta system
- consider if this can be extrapolated to Fedora 29 systems to support also those

TODO:
- [x] pcs_auth.py
- [x] pcs_cluster.py
- [x] pcs_constraint_colocation.py
- [x] pcs_constraint_location.py
- [x] pcs_constraint_order.py
- [x] pcs_property.py
  - [x] use `pcs node attribube` for setting the per-node properties as node

[2018-12-09 13:33] OndrejHome opened #22 "more than 2 rings for RRP doesn't work"
Identified in PR #21 that while the `man corosync.conf` mentions that `ringnumber` have to be just unique and doesn't mention any limits.
[code]
When configured in CentOS 7.6 with ring2_addr the following error is reported which suggests that either there is limit in CentOS/RHEL version of pacemaker (`pacemaker-1.1.19-8.el7_6.1.x86_64`) or documentation is inaccurate.
[code]

This bug is here for

[2018-12-09 19:37] OndrejHome commented on #20
Fedora 29 seems to have broken dependencies at the moment
[code]

[2018-12-16 17:36] OndrejHome commented on #20
OK, so I have started on Fedora 29 and combining with RHEL 8 Beta it seems that it can be re-used. So far the `pcs_auth` and `pcs_cluster` modules updated to be able to detect pcs version and use alternative syntax with pcs-0.10 present in Fedora 29/RHEL 8 Beta. On my faster machine I see something looking like race conditions with `pcs_auth` when it runs too fast, but in the background it seems t

[2018-12-16 17:38] OndrejHome commented on #18
this kind of output seems to disappeared from the ansible galaxy and as I cannot reproduce it I will not be following up more on it here. Still the other errors can be detected, but not those I have seen here, hence I'm closing this Issue.

[2018-12-16 17:38] #18 closed

[2018-12-25 20:19] OndrejHome opened #23 "pcs_cluster: allow choosing the ip_version on cluster creation"
Idea:
- implement `ip_version` attribute to give ability to set IP version based on which version of transport+pcs_version is being used
- possible combinations should be targetting CentOS 7 and Fedora29 as seen in corosync man page below

Expectations:
- edit `pcs_cluster` module in way that implements above
- don't forget to provide documentation about the attribute in module itself

In case you

[2019-01-03 21:39] OndrejHome opened #24 "pcs_property: allow changing node attributes"
Idea:
Allow changing node attributes via `pcs property set --node nodeX attribute=value` command. Practical use of this is for example for standby/unstandby of cluster nodes via `pcs property set --node nodeX standby=on`

TODO:
- [ ] change the function for detecting current values to accept per-node setting and/or its parsing- https://github.com/OndrejHome/ansible.pcs-modules-2/blob/master/librar

[2019-01-05 16:51] OndrejHome commented on #24
Initial implementation is in commit `2f96bcf `. Was not tested on CentOS/RHEL but worked on Fedora 28/29 that should cover both pcs version 0.9 and 0.10. Once I check it on CentOS/RHEL this will get merged if there are no problems.

[2019-01-05 16:57] OndrejHome commented on #24
CentOS 6.10 and 7.6 seems to be fine and works with simple use case of putting nodes into standby and removing them out of standby by removing the node attribute.

[2019-02-03 06:37] OndrejHome opened #25 "pcs_constraint_location: allow specification of rules"
Idea:
Allows use of following structure from pcs
[code]
For example ethmonitor resource needs this - https://github.com/ClusterLabs/resource-agents/blob/ec23dd1c315bd6a701e5293c26c7c39de340d82f/heartbeat/ethmonitor#L78

This can be useful also for other resource agents and current cannot be handled by the `pcs_constraint_location` modules as that uses the `pcs constraint location aaa prefers bbb=s

[2019-02-14 12:48] OndrejHome commented on #22
OK so the message is printed when we exceed the constant `INTERFACE_MAX` that was `2` (meaning 2 interfaces, with highest interface ID being `1`). This was extended to `8` with introduction of knet and deprecation of RRP in commit https://github.com/corosync/corosync/commit/268cde6ee48ae18004e9de5469f0be97a46e10a0
On Fedora 29 the new corosync 3.x using the knet I can go beyond 2 links like this.

[2019-03-07 12:22] YanChii opened #26 "create master resource with custom name"
Hi Ondrej,

I'd like to switch my pcs library to your modules in my [postresql cluster role](https://github.com/YanChii/ansible-role-postgres-ha). But I have one problem. Maybe you could help me with that.

I am creating a master/slave resource in two steps - [create resource](https://github.com/YanChii/ansible-role-postgres-ha/blob/master/tasks/paf.yml#L57) and [create master resource](https://gi

[2019-03-07 19:01] YanChii commented on #26
I've found a solution. I don't know if you like it but it works :).

https://github.com/OndrejHome/ansible.pcs-modules-2/compare/master...YanChii:custom-master-res-name

Jan

[2019-03-08 06:24] OndrejHome commented on #26
Hello Jan,

Thank you for reaching out and opening the issue. Your assumption that there will be need to make some change to code is correct. I'm also not aware of any attribute that can be passed to `pcs resource create` with `master` specified that would make it to use the custom name of the Master/Slave resource.

Also thank you for the code proposal. I have not verified yet thoroughly, but wil

[2019-03-11 07:30] OndrejHome commented on #26
OK, so from code of `pcs` it is pretty clear that while version 0.9 allowed custom names, the version 0.10 just hardcodes the `-clone` at the end and I don't see any direct `pcs` command for renaming this.

[code]

[code]

However I can still make change manually via CIB editing and push the ID of my liking there. So even if the "promotable" is created with `pcs resource promotable` or `pcs resour

[2019-03-11 08:45] YanChii commented on #26
Thank you Ondrej for your analysis and also for very interesting proposal. Single invocation of `pcs_resource` is fine for me, I'll make appropriate changes in my code.
Just drop me a message here and I'll take a look.
Thanks again.

Jan

PS: if the cib editing for some reason won't work, I can still fail my role if
`pcs>= 0.10` and `ha_name !=~ /-master$/`
and let the user to resolve.

[2019-03-12 05:51] OndrejHome commented on #26
Hi Jan,

Thank you for confirmation. I will be looking at this over weekend and next week and will let you know once there is code ready for testing out.

Note that in `pcs-0.10` the master/slave resource is by default created with suffix `-clone` to denote that it is now "promotable clone" instead of `-master` used in `pcs-0.9` :)
The code also seems to accept automatic conversion of 'master/slav

[2019-03-17 14:18] OndrejHome commented on #26
Hi @YanChii ,
I've made some progress here with 2 issues at the moment that I believe should be solvable:

- [ ] Issue 1 - 'CIB too old' when renaming multistate resource
  - this can be workarounded with specifying option `force_resource_update: true` for that resource
  - I'm considering to make workaround the permanently enabled or find some other way
- [ ] Issue 2 - error when the multistate r

[2019-03-17 20:51] YanChii commented on #26
Thank you, I'll take a look as soon as possible.
J.

[2019-03-18 12:19] OndrejHome commented on #26
Hi @YanChii,
I have pushed to develop 2 changes to address the issues. The Issue 1 seems to appear only on my CentOS 7.6 (`pcs-0.9`) so I have added hint for using the `force_resource_update: true` into error message when that happens. On Fedora 29 cluster (`pcs-0.10`) I haven't got such issues.
Issue 2 seems to be localized to python 3.6 that I use on my system and I have changed one thing that s

[2019-03-19 10:01] OndrejHome commented on #20
current `develop` branch contains code that should work with all the examples in the module descriptions on Fedora 29. As the EL8 is still not recognized as platform I will skip testing same on RHEL 8 Beta. There shouldn't be a difference for these modules between Fedora 29 and RHEL 8. Once merged to `master` this issue will be closed.

[2019-03-19 10:39] OndrejHome commented on #19
ansible-test sanity state as of commit a3cfc4e :
[code]
Mostly just long-lines.

Once resolved the testing for travis should be improved to include above testing.

Currently targeted platforms for inclusion to upstream would be for CentOS/RHEL 7 and Fedora 29, which means support for `pcs-0.9` and `pcs-0.10`.

[2019-03-24 11:34] YanChii commented on #26
Hi.

I've made the required changes in my role and everything seems to work perfectly. I didn't even have to add `force_resource_update: true` on `pcs` `0.9.165` @ `CentOS`. I'm gonna test if further before release.

Thank you very much for your help and effort. I really appreciate it.

Jan

[2019-03-24 12:17] OndrejHome commented on #26
Hi @YanChii ,

Thank you for feedback. As I had also some other changes that I wanted to push to master I have merged this under tag `20.0.0`. In case that there are some issues they can be fixed and then published in another version. If not then this would be version that you can start using and refer to.

I will keep this issue open in case that you have any additional feedback to this. If not I

[2019-03-31 11:56] #20 closed

[2019-04-06 13:31] OndrejHome commented on #26
Once again thank you @YanChii for your contribution here. As mentioned in my previous comment I'm closing this Issue now. In case you encounter any issue with current code in `master` please open new Issue and if it is related to changes discussed here please mention it.

Ondrej

[2019-04-06 13:31] #26 closed

[2019-04-16 17:37] Stevmann opened #27 "pcs_resource: remove meta_attributes element ... (Issue #10)"
Hello,

In my situation I have disabled resources on passive site of application. Resources are re-enabled after re-running the role, which creates those resources. The issue is probably here:

                    for elem in list(resource):
                        if elem.tag == 'meta_attributes' and len(list(elem)) == 0:
                            resource.remove(elem)
                    rc, d

[2019-04-17 00:58] OndrejHome commented on #27
Hi @Stevmann, Thank you for question and for using pcs-modules-2.

Could you please provide the example playbook/task and state of the cluster ('pcs status') before and after you run that playbook?
also please provide the configuration of the resource before the playbook is run and mask any sensitive data from it ('pcs resource show resource-name').

The code you mention is intended only for cases

[2019-04-18 21:39] Stevmann commented on #27
Hello,

Thank you for your quick reply and sorry for my late one. It is not easy for me to send requested informations, but I will try to describe it another way. In case you will still need them, I will try to figure out something.

First,to clarify re-enablig and re-running... :)
On passive site of datacenter, there is application with pacemaker. But resources are disabled. So pcs status shows:

[2019-04-19 02:47] OndrejHome commented on #27
Hi, thank you for more detailed explanation. I understand it that youe use case is to check resource configuration ignoring the "enabled/disabled" state. The 'pcs_resource' module is not capable of ignoring this. I have on my mind 2 ways how to address this:

1. add variable to 'options' variable of 'pcs_resource' that will contain either nothing or "meta target-role=stopped" depending on which cl

[2019-04-22 12:29] Hoijima commented on #27
Hi, this topic is also vital to me, but for the most part i had gone from just creating and deleting resources just to a plain management of them.
Currently i don't try to interface with the meta attributes, because it has proven to be not reliable in terms of the end result.

I modified the the pcs_resource this way.

i added 2 new states of the resource : enable, disable
that directly tells pcs

[2019-04-22 12:41] OndrejHome opened #28 "`pcs_wait_for`: enabling/disabling resources with pcs-modules-2"
Hi, this topic is also vital to me, but for the most part i had gone from just creating and deleting resources just to a plain management of them.
Currently i don't try to interface with the meta attributes, because it has proven to be not reliable in terms of the end result.

I modified the the pcs_resource this way.

i added 2 new states of the resource : enable, disable
that directly tells pcs

[2019-04-22 12:42] OndrejHome commented on #27
Hi @Hoijima ,

Thank you for additional information. Based on that lets move the discussion to new Issue #28 .
I will post there my thoughts shorty.

[2019-04-22 12:59] OndrejHome commented on #28
Thank you for feedback. Now I think I understand better your intention. It is not only enabling/disabling resources but also some additional operations around them.

`pcs resource enable` and `pcs resource disable` are essentially adding or removing the `target-role: stopped' meta attribute to/from resource. That is why I mentioned to have a look at previous issue. So if only running that command

[2019-04-22 14:01] Hoijima commented on #28
Well I'll try to make a Meta properties version, I'm still working on the module anyway.

Idea is simple, try to check 3 times with some timeout between check the server state, if the state would not be the same as we need - report a Fail.
If the state changes before 3 times, just break the loop and continue processing.

Then lets split it to ,idn, pcs_state_manager maybe?

[2019-04-23 00:35] OndrejHome commented on #28
Let me know how the testing of meta attributes went for you.

For naming I would prefer something like 'pcs_wait_for' if we are aiming for module that will succeed only when given resource reached the desired state or fail in case of timeout. Something that will be really similar in way how module 'wait_for' works - https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/utilities/logic/

[2019-04-23 08:46] Hoijima commented on #28
According to [redhat doc](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/configuring_the_red_hat_high_availability_add-on_with_pacemaker/s1-resourceopts-haar) we don't have node definition or something similar for pcs resource meta, did you meant something else?

Didn't quite understand the meaning, timeout for waiting pcs to return status?Or timeout waiting for the

[2019-04-24 09:48] OndrejHome commented on #28
Here I meant that we wanna wait for resource to be for example started on 'nodeX' when defined. However thinking more about this it will not fit well the Cloned resources so lets skip this one for now.

Timeout of the module. Lets keep all 'pcs' timeouts at their defaults. I have rarely seen that timeout for 'pcs' command needed to be adjusted.

---

Also thank you for the PR #29. At present I see

[2019-04-24 18:30] OndrejHome commented on #27
@Stevmann ,

Thank you for patience. I have one code in development that give ability to specify list of ignored meta attributes when comparing with existing resource. Example below.

Once I put it into better shape for commit I will let you know so you can test it. But in short: It looks that this will be possible without big change in code, which is good. :)

[code]

[code]

[2019-04-25 08:58] Hoijima commented on #28
Well i tried what you suggested, but it seems we will have to modify the resource role then.

when i try to do this

[code]
i get this in the end

[code]
and if i try to get them started with meta, they just will get blocked.

[2019-04-25 21:13] OndrejHome commented on #28
From outputs it looks that resources are creates as disabled - which is expected. But the FAILED state means that there is something that failed with resource itself - most probably during initial `probe`/`monitor` or `start` operation.
Is the same happening when you use the `ocf::pacemaker:Dummy` resource?
If not could you check if the `ocf::devexperts:dx` resource agents reacts properly to `prob

[2019-04-29 13:37] OndrejHome commented on #27
Hi @Stevmann ,
In `develop` branch I have pushed changes for this Issue that allows specifying which meta attributes can be ignored if desired in `pcs_resource`.
Could please let me know if this works for your use case here and also if you have any additional questions or feedback for this feature?
(You can check updated `ansible-doc pcs_resource` on how to use this for ignoring state of resource)

[2019-05-02 14:10] Stevmann commented on #27
Hi @OndrejHome ,

Thank you very much for your effort. It looks really good. I am sorry for delays in my communication. :(
I believe, that I will have time to do some tests during weekend.

Regards

[2019-05-02 17:37] OndrejHome commented on #27
Thank you @Stevmann , I will wait here for feedback from you. No need to hurry I expect to be doing more thing during next week/weekend. If you manage to test this out or find any issue with it feel free to leave comment ;)

[2019-05-06 10:24] Stevmann commented on #27
Hi @OndrejHome
I confirm, that your fix works for me.
Thank you very much and wish you all the best.
S

[2019-05-06 14:45] OndrejHome commented on #27
Hi @Stevmann ,
Thank you for confirmation and reporting this issue in first place! Changes are now merged in `master` branch and new tag `21.0.0.` was published. Also, all the best to you :)

Ondrej

[2019-05-06 14:45] #27 closed

[2019-05-13 12:49] Hoijima commented on #28
@OndrejHome sorry for the long reply, Russia was on loooong holidays : )
Currently we have settled with using my custom module i written (without using pcs_resource) and will investigate in the matter of out custom resource, it's a legacy code, so maybe the original writer made it a bit buggy.
For now i will probably cancel my pull request, some of my colleagues will continue my work on this task

[2019-05-13 13:23] OndrejHome commented on #28
Hi @Hoijima, Thank you for information.
In my experience I have seen mostly poorly written LSB scripts that people tried in pacemaker cluster and complained that cluster is misbehaving :)

I will keep this Issue open in case you or your colleagues came later, but I may also look at it myself at some point. I believe that `pcs_wait_for` module as described here makes sense, but may not have not  th

[2020-02-26 15:24] OndrejHome opened #32 "CentOS 8.1 hitting "Call cib_replace failed (-62): Timer expired" ?"
Issue: Are we hitting the "Call cib_replace failed (-62): Timer expired" in CentOS 8.1 deployments with `dlm` resource in newly created cluster? Is the original code for EL6 relevant for handling it?
(Based on feedback from @atemp in PR  #31 that has more information on this)
Further investigation will be tracked in this Issue instead of the original PR.

[2020-07-14 14:40] OndrejHome opened #33 "RRP in EL8"
- partially related to Issue #22

Testing the `pcs_cluster` modules with RRP on CentOS 8.2 ends in error as the old syntax for RRP is not available any more (instead of `nodeXX,node-RRP-address` the syntax `nodeXX addr=nodeXX addr=node-RRP-address` is needed). I plan to handle this transparently in `pcs_cluster` by using syntax `nodeXX,node-RRP-address`. Until code is adjusted it is expected that

[2020-07-20 13:19] OndrejHome commented on #33
support for RRP in `pcs_cluster` reworked by commit 887386b48ea77959801d1b451f90786d6c5bbca7, closing this issue.

[2020-07-20 13:30] OndrejHome commented on #22
Changes for proper RRP (upto 8 links with `pcs-0.10`) were incorporated in commit https://github.com/OndrejHome/ansible.pcs-modules-2/commit/887386b48ea77959801d1b451f90786d6c5bbca7 . Closing this issue.

[2020-07-20 13:30] #22 closed

[2020-11-18 11:48] Dzordzu opened #34 "Allow pcs cluster `allowed_node_changes` to accept all kind of changes"
Currently there are supported the following options:
- `add`
- `remove`
- `none`

It would be a nice feature to add an `all` option that will allow to add and remove nodes within a single shot

[2020-11-20 01:17] OndrejHome commented on #34
Hello @Dzordzu,
Thank you for using the modules and suggesting a change.

My concern here is that with `all` option the `pcs_cluster` module would have "fix" an order in which things are happening or would have to make sure to apply them in right order. It would still be possible to just use multiple tasks with single change to achieve whatever order one desires, but that is also possible now.
The

[2020-11-20 01:44] OndrejHome opened #35 "syntax of `pcs resource defaults` has changed in EL7/EL8"
Change in output of `pcs` tool is causing error when changing resource defaults of cluster and possibly other places (TODO: needs to be checked).

[code]

[code]

Temporary fix
[code]

Thank to David Kahn for reporting this via email!

[2020-11-20 14:33] Dzordzu commented on #34
Hello @OndrejHome,

For me an option suggested in 2) will be ideal. The user should be able decide about the order of the changes. Obviously in most cases the order would be `remove` and then `add`

When it comes to workaround, I have to use `pcs_cluster` twice (first time it didn't work, dunno why).

[code]

[2020-11-21 00:41] OndrejHome commented on #34
Hello @Dzordzu,
Thank you for response and example playbook you use.

 Two more questions:
1. How does your cluster look like before running this playbook? (for example: 2-node cluster with nodes 'node1' and 'node2')
2. Which hosts you have your inventory for this playbook? (for example: play_hosts="node2 node3")

I will have a look in the meantime on how the option 2) could be implemented - note

[2020-11-22 14:01] OndrejHome commented on #35
commit 51eed45 is addressing this in my test systems as newly indicated in notes of in `ansible-doc pcs_resource_defaults` documentation. Closing this.

[2020-11-22 14:01] #35 closed

[2021-02-07 08:34] OndrejHome commented on #28
Hi @Hoijima, going through older issue I just wanted to drop here information about existance of `crm_wait_for` module that in context of this issue was referenced as `pcs_wait_for` - [Ansible galaxy: crm_wait_for](https://galaxy.ansible.com/OndrejHome/crm_wait_for) / [Github repo: ansible.crm_wait_for](https://github.com/OndrejHome/ansible.crm_wait_for).

I believe that `crm_waif_for` and use of

[2021-02-07 08:34] #28 closed

[2021-03-29 18:52] tlb1galaxy opened #37 "Missing documents for pcs_stonith_level"
**Ansible_version:**

[code]

**Ansible Config (diff):**

[code]

**pcs-modules-2 version:**

[code]

**Issue:**

Cannot find embedded documents for module 'pcs_stonith_level'.

Reproduce error:

On the Ansible controller -

[code]

error:

[code]

[2021-03-29 19:58] tlb1galaxy opened #38 "PCS Cluster Setup - Clarification if 'enable --all' is set"
PCS-Modules-2 version:

23.0.0

Question:

When configuring and setting up a new cluster, I would normally run the following commands/logic:

[code]

When running the Ansible 'pcs_clsuter' task, does the module automatically facilitate the 'start' & 'enable' command equivalent?  I could not determine either way definitively.
[code]

Or would I have to call those commands from a shell task within A

[2021-03-30 13:35] OndrejHome commented on #37
Hi  @tlb1galaxy,

Thank you for the detailed description of issue!
I think I have found the source of the issue - commit with `pcs_stonith_level` was not part of any tagged version (yet). I have just now created new tag `24.0.0` and it looks to work for me now.
In case you still see the error please let me know how does the content of `/etc/ansible/roles/ondrejhome.pcs-modules-2/library/` looks li

[2021-03-30 13:47] OndrejHome commented on #38
Hi @tlb1galaxy ,

Thank you for using the pcs-modules-2 and for your question!

The module does not enables nor starts the cluster during initial setup. In past I have decided to not implement this in `pcs_cluster` module but rather start and enable the relevant services manually. This can be seen in my other role (ondrejhome.ha-cluster-pacemaker) that uses the `pcs_cluster` first to setup cluster

[2021-03-30 13:58] tlb1galaxy commented on #37
@OndrejHome
The update fixed the issue of the missing docs.
thanks

[2021-03-30 14:00] tlb1galaxy commented on #38
@OndrejHome
That makes sense.  Thanks for the quick reply.

[2021-04-18 07:38] OndrejHome commented on #37
Thank you @tlb1galaxy for confirmation!  Closing this issue based on last comment.

[2021-04-18 07:38] #37 closed

[2021-05-12 22:09] tleguern commented on #19
Hello, 2018 was a long time ago considering Ansible progress. Do you plan on converting your roles into a collection? I think it is particularly suitable :)

[2021-06-09 13:12] OndrejHome commented on #19
Yes, this was mostly to provide also some one else asking me with some link where progress can be tracked (if it makes any progress). I got stuck mostly on part where for inclusion the 'tests' are needed - which are done by hand so far.

Making the modules and related roles into collection is however and interesting idea. I will give it a thought, but no promises on when this would happen as my su

[2021-10-09 21:55] YanChii opened #39 "pcs_resource is unable to push CIB during"
Hi,

I'm [trying to create a multistate resource](https://github.com/YanChii/ansible-role-postgres-ha/blob/dbad41bc0a6f97b9154a29a8663686fe8ef9639f/tasks/paf.yml#L57) and it's failing with
[code]
However, it has helped to add `--config` [here ](https://github.com/OndrejHome/ansible.pcs-modules-2/blob/c23d25be1edd4e39b91bf3004bbe94e88cc3f964/library/pcs_resource.py#L366). I'm creating an issue to a

[2021-10-10 01:56] OndrejHome commented on #39
Hello Jan,

Thank you for using the modules and for your description.

The part where this produces error is second step in 2 steps process for creating multistate resource:
- step 1 create multistate resource with all options as specified with specified or default child_name
- step 2 rename the created resource in cluster to match `name`+`child_name` requested in module - this here because of way

[2021-11-02 12:20] OndrejHome commented on #39
Hi @YanChii,
Force be with you when needed :)
But in any case I have added the earlier mentioned change to code that will apply the force when master/promotable resource is being handled automatically. Change is now in `master` without any new tag - once there are more changes or little bit latter this month I plan to release release new version. Until then you can use the latest commit from `mast

[2021-11-02 13:32] YanChii commented on #39
Thank you.
I believe we can close it now. I can reopen if I hit anything related to this.
Either way, I've explicitly set `force` in the role and now it does what it should.
Thanks.
Jan

[2021-11-02 13:32] #39 closed